### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
target/classes/org/example/Main.class
target/test-classes/MainTest.class
target/test-classes/ResultAnalyzer$TestResultStatus.class
target/test-classes/ResultAnalyzer.class
src/test/java/ResultAnalyzer.java
src/test/java/ResultAnalyzer.java
